<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>

<h1>Hi There!</h1>

<form action="/madlib">
    <p>
      <label>Please enter a person:</label>
      <input type="text" name="person"> 
    </p>
    <p>
      <label>...and then a color:</label>
      <input type="text" name="color">
    </p>
    <p>
      <label>...and then a noun:</label>
      <input type="text" name="noun">
    </p>
    <p>
      <label>...and finally an adjective:</label>
      <input type="text" name="adjective">
    </p>
    <p>
      <input type="submit">
    </p>
</form>

</body>
</html>
